.footer {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    height: 100px;
    
}

.footerList {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerItem {
    margin-right: 20px; /* Adjust spacing between icons as needed */
}

.footerLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.footerIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px; 
    
    justify-content: space-around;
}