.title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.headerStyle {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 1000;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 1rem; 
  display: inline-block;
}

.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
